<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{{ nom_site }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/slate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/xidma.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/bootstrap.min.js') }}"></script>
</head>

<body>

<header>
    <nav class="navbar navbar-default navbar-fixed-top" style="background: transparent; border-color: transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">{{ nom_site }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Direct</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search" method="post" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Rechercher un programme">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
</header>


{% block body %}
{% endblock %}
</body>
</html>